.center{
    display: grid;
    place-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    float: left;
    width: 200px;
    height: 230px;
}

.text{
    float: right;
    padding-left: 20px;
    text-align: justify;
}

